<footer class="text-muted bg-grey-2 pt-5 pb-3 d-flex mt-auto">
    <div class="container-fluid mt-3 padding-header">
        <div class="row footerfont">
            <div class="col-xl-2 offset-xl-1 d-flex flex-column align-items-center justify-content-center">
                <div class="row my-2">
                    <div class="col-5 col-sm-4 col-lg-5">
                        <img src="~/svg/dexcar-logo.svg" />
                    </div>
                </div>
                <div class="row text-center d-flex flex-row justify-content-center my-4">
                    <div class="col-4">
                        <a href="#"><i class="fab fa-facebook" style="font-size:24px; color:white"></i></a>
                    </div>
                    <div class="col-4">
                        <a href="#"><i class="fab fa-youtube" style="font-size:24px; color:white"></i></a>
                    </div>
                    <div class="col-4">
                        <a href="#"><i class="fab fa-instagram" style="font-size:24px; color:white"></i></a>
                    </div>
                </div>
            </div>
            <div class="offset-sm-2 col-sm-8 offset-md-1 col-md-4 col-lg-4 col-xl-3 offset-lg-2 offset-xl-1  my-3">

                <div class="row">
                    <div class="col-12 py-3 contacts">
                        <ul class="fa-ul ml-4 text-white">
                            <li class="my-3 pl-2">
                                    Dexcar, ул.Лынькова, 52, Минск, Беларусь
                            </li>
                            <li class="my-3 pl-2">+375 (25) 724-85-55</li>
                            <li class="my-3 pl-2">info@dexcar.by</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <span class="small white">&#169; Головань Анна, БГТУ</span>
            </div>
        </div>
    </div>
</footer>
