@*@{
        ViewData["Title"] = "";
    }*@

    <div class="greybox padding-header bg-grey">

        <div class="d-flex flex-row  py-2 align-items-center">
            <h6 class="mr-auto font-weight-normal">Ваш регион: Беларусь</h6>

                <nav class="">
                    @*<a class="p-2" href="#">Impressum</a>
                    <a class="p-2" href="#">Cookie and Privacy Policy</a>*@
                </nav>
                <div class="text-right">
                    @*@await Html.PartialAsync("_SelectLanguagePartial")*@
                </div>
            </div>
        </div>
