@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<button class="btn d-none d-sm-block d-lg-none btn brdradius_sm button-color m-3" onclick="OpenCloseNav()">Меню</button>


<nav id="profileMenu" class="profile-menu mb-4 mb-md-0 userSideMenu">

    <div class="card borderstyling">

        <div class="card-body p-0 d-flex flex-row border-bottom-0">

            @{
                var photo = UserManager.GetUserAsync(User).Result.Photo;
                string PathToAvatar = !string.IsNullOrEmpty(photo) ? photo : "/svg/usergrey.svg";
            }
            <img src="@PathToAvatar" class="card-img-top rounded-circle mr-3" alt="...">
                <div class="d-flex flex-column">
                    <h5 class="text-left mt-2">
                        @(UserManager.GetUserAsync(User).Result.Name + " " + @UserManager.GetUserAsync(User).Result.Surname)
                    </h5>
                    @*<a class="card-text text-left" asp-area="Customer" asp-controller="Profile" asp-action="EditProfile" asp-route-id="@UserManager.GetUserId(User)">
                        Изменить профиль
                    </a>*@
                </div>
            <button type="button" class="btn closebtn" onclick="OpenCloseNav()">&times;</button>
        </div>
        <div class="card-body p-0">

            <ul class="list-group list-group-flush">
                <li class="list-group-item border-top-0">
                    <a class="dropdown-item" asp-area="Customer" asp-controller="Profile" asp-action="Orders">
                        <img src="~/svg/orders copy.svg" class="mr-3" />Заказы
                    </a>

                </li>
                <li class="list-group-item border-top-0">
                    <a class="dropdown-item" asp-area="Customer" asp-controller="Profile" asp-action="Notifications">
                        <img src="~/svg/bell.svg" class="mr-3" />Уведомления
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>


