
@{
    ViewData["Title"] = "Профиль";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<main class="profile-orders">
    <div class="container-fluid  userside d-flex flex-wrap pt-4">
       <partial name="_ProfileMenu" />

    </div>
</main>
